@import url(<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">);

p {
  color: black;
    
}


body {
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 1.4;
}

h2 {
    font-size: 1em;
}


header {
    height: 50px;
    text-align: center;
    margin-bottom: 1em;
}



#textbox1 {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}




#picture_img {
    
    width: 200px;
    border: 5px;
    float: right;
   margin-right: 250px;
background-color: white;

}

